<div class="display_box">
  <%= link_to image_tag("kinetic_logo_main.svg",
                         class: "portfolio_images", alt: "Kinetic logo"),
                         kinetic_path %>
	<h2>PROJECTS</h2>
  <ul>
  	<li>logo</li>
    <li>business cards</li>
    <li>web site</li>
    <li>brochures</li>
    <li>thank-you cards</li>
  </ul>
</div>


<div class="display_box">
	<p class="projects_captions">logos</p>
  <%= image_tag("kinetic_logo_main.svg",
                 class: "portfolio_images", alt: "Kinetic logo") %>
  <%= image_tag("kinetic_logo_main_simple.svg",
                 class: "portfolio_images", alt: "Kinetic simplified logo") %>
  <%= image_tag("kinetic_logo_watermark.svg",
                 class: "portfolio_images", alt: "Kinetic watermark logo") %>
  <%= image_tag("kinetic_logo_horiz.svg",
                 class: "portfolio_images", alt: "Kinetic horizontal logo") %>
</div>


<div class="display_box">
	<p class="projects_captions">business cards</p>
  <%= image_tag("kinetic_card_front.svg",
                 class: "portfolio_images", alt: "Kinetic business card front") %>
  <%= image_tag("kinetic_card_back.svg",
                 class: "portfolio_images", alt: "Kinetic business card back") %>
</div>


<div class="display_box">
	<p class="projects_captions">web site</p>
  <%= link_to image_tag("kinetic_web.jpg",
                         class: "portfolio_images", alt: "Kinetic web site"),
                         "http://www.rethinkrestoration.com", target: "_blank" %>
</div>


<div class="display_box">
	<p class="projects_captions">vehicle graphics</p>
  <%= image_tag("kinetic_truck.png",
                 class: "portfolio_images", alt: "Kinetic vehicle graphics") %>
  <%= image_tag("kinetic_explorer.png",
                 class: "portfolio_images", alt: "Kinetic vehicle graphics") %>
</div>


<div class="display_box">
	<p class="projects_captions">postcards</p>
  <%= image_tag("kinetic_postcard_lg_front.svg",
                 class: "portfolio_images", alt: "Kinetic postcard") %>
  <%= image_tag("kinetic_postcard_lg_back.svg",
                 class: "portfolio_images", alt: "Kinetic postcard") %>
</div>


<div class="display_box">
	<p class="projects_captions">thank you cards</p>
  <%= image_tag("kinetic_thankyou_front.png",
                 class: "portfolio_images", alt: "Kinetic thank-you card") %>
  <%= image_tag("kinetic_thankyou_back.svg",
                 class: "portfolio_images", alt: "Kinetic thank-you card") %>
</div>


<div class="display_box">
  <%= image_tag("kinetic_pen.jpg",
                 class: "portfolio_images", alt: "Kinetic pens") %>
</div>




<p class="backtotop">[<a href="portfolio.html#top"> back to PORTFOLIO </a>]</p>

<p class="backtotop">[<a href="#top"> back to top </a>]</p>
