<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

				<div class="display-box">
						<%= image_tag("pm_covers.jpg",
		                       class: "img-responsive",
													 alt: "Pilot Mag covers") %>
			  </div>

				<div class="display-box">
				  <h2>Pilot Mag</h2>
				</div>

				<div class="display-box">
				  <h3>Art Director, Writer, Photographer</h3>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("pm_extra330.jpg",
		                       class: "img-responsive",
													 alt: "Extra 330") %>
			  </div>

        <div class="display-box">
				  <p>writing, art direction</p>
				</div>

        <div class="display-box">
				  <p>
            <%= link_to "images/pm_extra330.pdf" %>
          </p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("pm_spirit.jpg",
		                       class: "img-responsive",
													 alt: "A Spirit in the Wind") %>
			  </div>

        <div class="display-box">
				  <p>writing, photography, art direction</p>
				</div>

        <div class="display-box">
				  <p>
            <%= link_to "spirit.pdf" %>
          </p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("pm_p40.jpg",
		                       class: "img-responsive",
													 alt: "P40 at sunrise") %>
			  </div>

        <div class="display-box">
				  <p>photography</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("pm_rainbow.jpg",
		                       class: "img-responsive",
													 alt: "a rainbow, seen from the cockpit") %>
			  </div>

        <div class="display-box">
				  <p>photography</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("pm_weeks.jpg",
		                       class: "img-responsive",
													 alt: "Kermit Weeks cover") %>
			  </div>

        <div class="display-box">
				  <p>art direction</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("pm_freeman.jpg",
		                       class: "img-responsive",
													 alt: "Morgan Freeman cover") %>
			  </div>

        <div class="display-box">
				  <p>art direction</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("pm_lauderback.jpg",
		                       class: "img-responsive",
													 alt: "Lee Lauderback cover") %>
			  </div>

        <div class="display-box">
				  <p>art direction</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("pm_wasp.jpg",
		                       class: "img-responsive",
													 alt: "WASP cover") %>
			  </div>

        <div class="display-box">
				  <p>art direction</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("pm_hondajet.jpg",
		                       class: "img-responsive",
													 alt: "Honda Jet cover") %>
			  </div>

        <div class="display-box">
				  <p>art direction</p>
				</div>

			</div>
		</div>
	</div>
</section>






<div class="text-center">
  <%= link_to "back to PORTFOLIO", portfolio_path, class: "btn btn-default" %>
</div>

<div class="text-center">
  <%= link_to "back to top", kinetic_path, class: "btn btn-default" %>
</div>
