<div class="client">
	<%= link_to image_tag("pm_freeman.jpg", alt: "Pilot Mag logo"),
                         pilotmag_path %>
 <h2>PILOT MAG</h2>
 <h3>ART DIRECTOR</h3>
	<ul>
    <li>print and digital production</li>
    <li>writing</li>
    <li>photography</li>
	</ul>
</div>


<div class="client">
  <%= link_to image_tag("kinetic_logo_main.svg", alt: "Kinetic logo"),
                         kinetic_path %>
  <h2>KINETIC RESTORATION</h2>
  <h3>ART DIRECTOR</h3>
	<ul>
    <li>logo</li>
    <li>business cards</li>
    <li>web site</li>
    <li>vehicle graphics</li>
    <li>brochures</li>
    <li>thank you cards</li>
    <li>pens</li>
	</ul>
  <%= link_to "view samples", kinetic_path %>
</div>


<div class="client">
  <%= link_to image_tag("bdg_logo.svg", alt: "BDG logo"),
                         bdg_path %>
  <h2>BROWN DEVELOPMENT GROUP</h2>
  <h3>ART DIRECTOR</h3>
  <ul>
    <li>logo</li>
    <li>business cards</li>
    <li>web site</li>
    <li>signage</li>
	</ul>
  <%= link_to "view samples", bdg_path %>
</div>







<div>
	<a href="mbs.html#top">
		<img src="images/MBS-logo.gif" class="portfolio_thumbs" alt="MBS-logo">
		</a>
	<p class="titles-main"><a href="mbs.html#top">PROJECTS</a></p>
	<p class="projects-main">
		business cards<br>
		clothing designs
	</p>
</div>


<div>
	<a href="asi.html#top">
		<img src="images/ASI-logo.gif" class="portfolio_thumbs" alt="ASI-logo">
		</a>
	<p class="titles-main">
		<a href="asi.html#top">PROJECTS</a>
	</p>
	<p class="projects-main">
		logo<br>
		business forms<br>
		web page
	</p>
</div>


<div>
	<a href="vl.html#top">
		<img src="images/vl_logo.svg" class="portfolio_thumbs" alt="VL-logo">
	</a>
	<p class="titles-main"><a href="vl.html#top">PROJECTS</a></p>
	<p class="projects-main">
		videos<br>
		business forms<br>
    web site<br>
		advertisements<br>
		articles<br>
		HOA documents
	</p>
</div>


<div>
	<a href="3rd.html#top">
		<img src="images/3rd-logo.gif" class="portfolio_thumbs" alt="3rd-logo">
	</a>
	<p class="titles-main"><a href="3rd.html#top">PROJECTS</a></p>
	<p class="projects-main">
		logos<br>
		product + clothing designs<br>
		videos<br>
		online store<br>
		advertisements
	</p>
</div>
