<div class="client">
	<%= link_to image_tag("pm_freeman.jpg", alt: "Pilot Mag logo"),
                         pilotmag_path %>
 <h2>PILOT MAG</h2>
 <h3>Art Director, Writer, Photographer</h3>
	<ul>
    <li>print and digital production</li>
    <li>writing</li>
    <li>photography</li>
	</ul>
</div>


<div class="client">
  <%= link_to image_tag("kinetic_logo_main.svg", alt: "Kinetic logo"),
                         kinetic_path %>
  <h2>KINETIC RESTORATION</h2>
  <h3>Art Director</h3>
	<ul>
    <li>logo</li>
    <li>business cards</li>
    <li>web site</li>
    <li>vehicle graphics</li>
    <li>brochures</li>
    <li>thank you cards</li>
    <li>pens</li>
	</ul>
  <%= link_to "view samples", kinetic_path %>
</div>


<div class="client">
  <%= link_to image_tag("bdg_logo.svg", alt: "BDG logo"),
                         bdg_path %>
  <h2>BROWN DEVELOPMENT GROUP</h2>
  <h3>Art Director</h3>
  <ul>
    <li>logo</li>
    <li>business cards</li>
    <li>web site</li>
    <li>signage</li>
	</ul>
  <%= link_to "view samples", bdg_path %>
</div>


<div class="client">
  <%= link_to image_tag("MBS-logo.gif", alt: "MBS logo"),
                        mbs_path %>
  <h2>MBS CROSSFIT</h2>
  <h3>Art Director</h3>
  <ul>
    <li>business cards</li>
    <li>clothing designs</li>
  </ul>
  <%= link_to "view samples", mbs_path %>
</div>


<div class="client">
  <%= link_to image_tag("ASI-logo.gif", alt: "ASI logo"),
                        asi_path %>
  <h2>ANDREW STEINBERG INC.</h2>
  <h3>Art Director</h3>
  <ul>
    <li>logo</li>
    <li>business cards</li>
    <li>web site</li>
  </ul>
  <%= link_to "view samples", asi_path %>
</div>


<div class="client">
  <%= link_to image_tag("vl_logo.svg", alt: "Victory Lane logo"),
                         vl_path %>
  <h2>VICTORY LANE</h2>
  <h3>V.P. of Marketing, Art Director, Writer, Photographer, Videographer</h3>
  <ul>
    <li>videos</li>
    <li>business cards</li>
    <li>web site</li>
    <li>3D renderings</li>
    <li>advertisements</li>
    <li>articles</li>
  </ul>
  <%= link_to "view samples", vl_path %>
</div>


<div class="client">
  <%= link_to image_path("3rd-logo.gif", alt: "3rd Lair logo"),
                          thirdlair_path %>
  <h2>3RD LAIR</h2>
  <h3>Art Director, Videographer</h3>
  <ul>
    <li>logos</li>
    <li>product + clothing designs</li>
    <li>video filming and editing</li>
    <li>online store development</li>
    <li>advertisements</li>
  </ul>
  <%= link_to "view samples", thirdlair_path %>
</div>
