<div class="container">

	<div class="row row-red">
		<div class="col-xs-8 col-xs-offset-2
                col-sm-8 col-sm-offset-2
                col-md-6 col-md-offset-3">

			<div class="display_box">
				<%= link_to image_tag("pm_freeman.jpg",
				                       class: "img-responsive", alt: "Pilot Mag logo"),
			                         pilotmag_path %>
		  </div>
			<div class="display_box">
			 	<h2>Pilot Mag</h2>
			</div>
			<div class="display_box">
			 <h3>Art Director, Writer, Photographer</h3>
			</div>
			<div class="display_box">
				<ul>
			    <li>print and digital production</li>
			    <li>writing</li>
			    <li>photography</li>
				</ul>
			</div>
			<div class="display_box">
				<%= link_to "view samples", pilotmag_path, class: "btn btn-default" %>
			</div>

		</div>
	</div>



	<div class="row">
		<div class="col-xs-8 col-xs-offset-2
                col-sm-8 col-sm-offset-2
                col-md-6 col-md-offset-3">

			<div class="display_box">
			  <%= link_to image_tag("kinetic_logo_main.svg",
				                       class: "img-responsive", alt: "Kinetic logo"),
			                         kinetic_path %>
			  <h2>Kinetic Restoration</h2>
			  <h3>Art Director</h3>
				<ul>
			    <li>logo</li>
			    <li>business cards</li>
			    <li>web site</li>
			    <li>vehicle graphics</li>
			    <li>brochures</li>
			    <li>thank you cards</li>
			    <li>pens</li>
				</ul>
				<%= link_to "view samples", kinetic_path, class: "btn btn-default" %>
			</div>

		</div>
	</div>



	<div class="row">
		<div class="col-xs-8 col-xs-offset-2
								col-sm-8 col-sm-offset-2
								col-md-6 col-md-offset-3">

			<div class="display_box">
			  <%= link_to image_tag("bdg_logo.svg",
				                       class: "img-responsive", alt: "BDG logo"),
			                         bdg_path %>
			  <h2>Brown Development Group</h2>
			  <h3>Art Director</h3>
			  <ul>
			    <li>logo</li>
			    <li>business cards</li>
			    <li>web site</li>
			    <li>signage</li>
				</ul>
				<%= link_to "view samples", bdg_path, class: "btn btn-default" %>
			</div>

		</div>
	</div>



	<div class="row">
		<div class="col-xs-8 col-xs-offset-2
								col-sm-8 col-sm-offset-2
								col-md-6 col-md-offset-3">

			<div class="display_box">
			  <%= link_to image_tag("MBS-logo.gif",
				                       class: "img-responsive", alt: "MBS logo"),
			                         mbs_path %>
			  <h2>MBS Crossfit</h2>
			  <h3>Art Director</h3>
			  <ul>
			    <li>business cards</li>
			    <li>clothing designs</li>
			  </ul>
				<%= link_to "view samples", mbs_path, class: "btn btn-default" %>
			</div>

		</div>
	</div>



	<div class="row">
		<div class="col-xs-8 col-xs-offset-2
								col-sm-8 col-sm-offset-2
								col-md-6 col-md-offset-3">

			<div class="display_box">
			  <%= link_to image_tag("ASI-logo.gif",
				                       class: "img-responsive", alt: "ASI logo"),
			                         asi_path %>
			  <h2>Andrew Steinberg Inc.</h2>
			  <h3>Art Director</h3>
			  <ul>
			    <li>logo</li>
			    <li>business cards</li>
			    <li>web site</li>
			  </ul>
				<%= link_to "view samples", asi_path, class: "btn btn-default" %>
			</div>

		</div>
	</div>



	<div class="row">
		<div class="col-xs-8 col-xs-offset-2
								col-sm-8 col-sm-offset-2
								col-md-6 col-md-offset-3">

			<div class="display_box">
			  <%= link_to image_tag("vl_logo.svg",
				                       class: "img-responsive", alt: "Victory Lane logo"),
			                         vl_path %>
			  <h2>Victory Lane</h2>
			  <h3>V.P. of Marketing, Art Director, Writer, Photographer, Videographer</h3>
			  <ul>
			    <li>videos</li>
			    <li>business cards</li>
			    <li>web site</li>
			    <li>3D renderings</li>
			    <li>advertisements</li>
			    <li>articles</li>
			  </ul>
				<%= link_to "view samples", vl_path, class: "btn btn-default" %>
			</div>

		</div>
	</div>



	<div class="row">
		<div class="col-xs-8 col-xs-offset-2
								col-sm-8 col-sm-offset-2
								col-md-6 col-md-offset-3">

			<div class="display_box">
			  <%= link_to image_tag("3rd-logo-lg.gif",
				                       class: "img-responsive", alt: "3rd Lair logo"),
			                         thirdlair_path %>
			  <h2>3rd Lair</h2>
			  <h3>Art Director, Videographer</h3>
			  <ul>
			    <li>logos</li>
			    <li>product + clothing designs</li>
			    <li>video filming and editing</li>
			    <li>online store development</li>
			    <li>advertisements</li>
			  </ul>
				<%= link_to "view samples", thirdlair_path, class: "btn btn-default" %>
			</div>

		</div>
	</div>

</div>
