<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

				<div class="display-box-padded">
						<%= image_tag("3rd-logo-lg.gif",
		                       class: "img-responsive",
													 alt: "3rd Lair logo") %>
			  </div>

				<div class="display-box">
				  <h2>3rd Lair</h2>
				</div>

				<div class="display-box">
				  <h3>Art Director, Videographer</h3>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
          <div class='embed-container'><iframe src='https://www.youtube.com/embed/p_vXs5-vsdM' frameborder='0' allowfullscreen></iframe></div>
			  </div>

        <div class="display-box">
				  <p>full-length DVD</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("3rd-talescover.gif",
		                       class: "img-responsive",
													 alt: "3rd Lair DVD cover") %>
			  </div>

        <div class="display-box">
				  <p>DVD cover</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("3rd-logo-lg.gif",
		                       class: "img-responsive",
													 alt: "3rd Lair logo") %>
						<%= image_tag("3rd-logo-hl-lg.gif",
		                       class: "img-responsive",
													 alt: "3rd Lair logo") %>
			  </div>

        <div class="display-box">
				  <p>logos</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("3rd-t-hl2.gif",
		                       class: "img-responsive",
													 alt: "3rd Lair T-shirt") %>
			  </div>

        <div class="display-box">
				  <p>T-shirt</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("3rd-hoodie-hl1.gif",
		                       class: "img-responsive",
													 alt: "3rd Lair hoodie") %>
			  </div>

        <div class="display-box">
				  <p>hoodie</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("3rd-t-tree.gif",
		                       class: "img-responsive",
													 alt: "3rd Lair T-shirt") %>
			  </div>

        <div class="display-box">
				  <p>T-shirt</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("3rd-catalog-out.gif",
		                       class: "img-responsive",
													 alt: "3rd Lair catalog") %>
						<%= image_tag("3rd-catalog-in.gif",
 		                       class: "img-responsive",
 													 alt: "3rd Lair catalog") %>
			  </div>

        <div class="display-box">
				  <p>catalog</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("3rd-card-f.gif",
		                       class: "img-responsive",
													 alt: "3rd Lair business cards") %>
						<%= image_tag("3rd-card-b.gif",
 		                       class: "img-responsive",
 													 alt: "3rd Lair business cards") %>
			  </div>

        <div class="display-box">
				  <p>business cards</p>
				</div>

			</div>
		</div>
	</div>
</section>











<div class="text-center">
  <%= link_to "back to PORTFOLIO", portfolio_path, class: "btn btn-default" %>
</div>

<div class="text-center">
  <%= link_to "back to top", kinetic_path, class: "btn btn-default" %>
</div>
