<title>Fred Block | Victory Lane</title>

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

				<div class="display-box-padded">
						<%= image_tag("vl-logo.svg",
		                       class: "img-responsive",
													 alt: "Victory Lane logo") %>
			  </div>

				<div class="display-box">
				  <h2>Victory Lane</h2>
				</div>

				<div class="display-box">
				  <h3>V.P. of Marketing, Art Director, Writer, Photographer, Videographer</h3>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
          <div class='embed-container'><iframe src='https://www.youtube.com/embed/w8iCdR5_upM' frameborder='0' allowfullscreen></iframe></div>        </div>
        <div class="display-box">
				  <p>video</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
          <div class='embed-container'><iframe src='https://www.youtube.com/embed/HJVa7zhbZQo' frameborder='0' allowfullscreen></iframe></div>
			  </div>

        <div class="display-box">
				  <p>video</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-web.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane web site") %>
			  </div>

        <div class="display-box">
          <p>
  				  <a href="http://fredblock.com/portfolio/vl/index.html" target="_blank", class="link-underlined">web site</a>
          </p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-vr.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane virtual reality tour") %>
			  </div>

        <div class="display-box">
				  <p>virtual reality tour</p>
				</div>

        <!-- <div class="display-box">
          <p>
  				  <a href="#" target="_blank">click to view virtual reality tour</a>
          </p>
				</div> -->

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-brochure.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane brochure") %>
			  </div>

        <div class="display-box">
				  <p>brochure</p>
				</div>

				<div class="display-box">
				  <p>
						<%= link_to "download pdf", "vl-brochure.pdf",
						             class: "btn btn-default", target: "_blank" %>
          </p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box-padded">
						<%= image_tag("vl-card-f.gif",
		                       class: "img-responsive",
													 alt: "Victory Lane business card") %>
						<%= image_tag("vl-card-b.gif",
		                       class: "img-responsive",
													 alt: "Victory Lane business card") %>
			  </div>

        <div class="display-box">
				  <p>business cards</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-vm-jul07.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-vm-jun07.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-vm-feb08.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-gooding.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-robb-0807.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-robb-0806.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-coldwell-0807.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-coldwell-0108.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-coldwell-0907.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-coldwell-1007.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-coldwell-0707.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-Savannah.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-greenwich.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-article-coldwell-0907.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>article</p>
				</div>

				<div class="display-box">
				  <p>
						<%= link_to "download pdf", "vl-article-coldwell.pdf",
						             class: "btn btn-default", target: "_blank" %>
          </p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-advert-Robb-0806.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-cabin-front.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane cabin") %>
			  </div>

        <div class="display-box">
				  <p>cabin rendering</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-cabin-top.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane cabin") %>
			  </div>

        <div class="display-box">
				  <p>cabin rendering</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-entry.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane entry") %>
			  </div>

        <div class="display-box">
				  <p>entrance rendering</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-hangars.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane hangars") %>
			  </div>

        <div class="display-box">
				  <p>airport rendering</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-racecontrol.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane race control") %>
			  </div>

        <div class="display-box">
				  <p>race control rendering</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-shc.svg",
		                       class: "img-responsive",
													 alt: "Victory Lane logo") %>
			  </div>

        <div class="display-box">
				  <p>golf course logo</p>
				</div>

			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2
	                col-sm-8 col-sm-offset-2
	                col-md-6 col-md-offset-3">

        <div class="display-box">
						<%= image_tag("vl-ad-vr.jpg",
		                       class: "img-responsive",
													 alt: "Victory Lane ad") %>
			  </div>

        <div class="display-box">
				  <p>advertisement</p>
				</div>

			</div>
		</div>
	</div>
</section>




<div class="text-center">
  <%= link_to "back to PORTFOLIO", portfolio_path, class: "btn btn-default" %>
</div>

<div class="text-center">
  <%= link_to "back to top", vl_path, class: "btn btn-default" %>
</div>
