<!DOCTYPE html>
<html>

  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
    <title>Fred Block | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <%= render 'layouts/header' %>

    <%= yield %>

  </body>

</html>
